
* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

hmtl {
    box-sizing: border-box;
}

.navbar {
    background-color: rgb(186, 144, 222);
    display: flex;
}

.navbar a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.navbar ul {
    list-style-type: none;
    margin: 10px 0px;
}

.navbar li {
    display: inline;
    margin: 5px 15px 5px 15px;
}

.welcome {
    display: flex;
    justify-content: center;
    color: black;
    margin-top: 50px;
}

.wow:hover {
    color: rgb(186, 144, 222); 
}

.options {
    display: flex;
    justify-content: center;
}

.custom-btn {
    border: rgb(194, 152, 196) 0.5px solid;
    border-radius: 8px;
    margin: 0px 5px 0px 5px;
    font-size: 20px;
    color: rgb(194, 152, 196)
}

.generate-btn {
    border: rgb(194, 152, 196) 0.5px solid;
    border-radius: 8px;
    margin: 0px 5px 0px 5px;
    font-size: 20px;
    color: rgb(194, 152, 196)
}

.custom-btn:hover {
    background-color:rgb(194, 152, 196);
    border: rgb(194, 152, 196) 0.5px solid;
    
}

.generate-btn:hover {
    background-color: rgb(194, 152, 196);
    border: rgb(194, 152, 196) 0.5px solid;
}

.input-form {
   text-align: center;
   margin-top: 50px;
}

.inputer {
    display: flex;
    padding: 0px 250px;
}

.addMe {
    border:rgb(186, 144, 222) 0.5px solid;
    background-color: rgb(186, 144, 222);
    margin-top: 18px; 
}

.addMe:hover {
    background-color: rgb(195, 160, 226);
    color: white;
    border: rgb(186, 144, 222) 0.5px solid;
}

.table-div {
    display: flex;
    justify-content: center;
    padding: 20px 250px 20px 250px;
}

.table-div td {
    padding: 15px 80px;
}

h5 {
    font-weight: bolder;
    color:rgb(186, 144, 222);
    text-align: center;
    margin-top: 50px
}

@media screen and (max-device-width: 480px) {
    .welcome{
        font-size: 60px;
    }
    .generate-btn {
        font-size: 50px;
        border: rgb(194, 152, 196) 3px solid;
    }
    .custom-btn {
        font-size: 50px;
        border: rgb(194, 152, 196) 3px solid;
    }
    .inputer {
        display: block;
        justify-content: center;
        padding: 0px 100px;
    }

    .inputer input {
        margin-bottom: 30px;
        font-size: 30px;
        text-align: center;
        color: grey;
        border: rgb(186, 144, 222) 3px solid;
    }

    .addMe {
        font-size: 30px;
        padding: 15px 100px;
    }

    h5 {
        font-size: 40px;
    }

    .table-div {
        padding: 20px 100px;
    }
    .table-div td {
        font-size: 35px;
        padding: 15px 50px;
        display: inline-block;
    }

    .gen-table td {
        font-size: 20px;
    }

}